:root {
  --bgColor: #181616; 
  --bgColorLight: #252121;
  --bgInverse: #b3adad;
  --placeHolderColor: #c9c2c2;
  --textColor: #fff;
  --textColorLight: #b9b5b5;
  --btnColor: rgba(4, 45, 228, 0.719);
  --red: #ff0000;
  --shadow: rgb(40 40 40 / 50%);
}

* {
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
  scroll-behavior: scroll;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--bgColor);
}

::-webkit-scrollbar-thumb {
  background: var(--bgInverse);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--placeHolderColor);
}


::-webkit-input-placeholder {
  color: var(--placeHolderColor);
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--placeHolderColor);  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: var(--placeHolderColor);  
}

:-ms-input-placeholder {  
  color: var(--placeHolderColor);  
}

input, textarea { 
  caret-color: var(--red);
}

::selection {
  background-color: #0e58e3;
}


@keyframes navLinkFadeIn {
  from {
    width: auto;
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    width: auto;
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

